html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}

.container {
    width: 300px; 
    margin: 20px; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.search-bar {
    width: calc(100% / 3);
    padding: 8px;
    border: 1px solid var(--search-border);
    border-radius: 5px;
    transition: width 0.3s ease, border-color 0.3s ease;
}

.search-bar:focus {
    width: 100%;
    border-color: var(--search-focus-border);
}

.search-bar:focus::placeholder {
    color: transparent;
}





