html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-bg);
}

.button {
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 15px 25px;
    border: 2.5px solid;
    cursor: pointer;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
}

.button:hover {
    padding: 17px 27px;
    color: var(--btn-color-hover);
    border-image-source: linear-gradient(to left, #eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
}


